.git
.github
.idea
.ai
.claude
mobile
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
*.md
!CLAUDE.md
docker-compose.yml
.env
.env.example
